{% for vhost in nginx_vhosts %}
server {

    listen 80;
    listen [::]:80;
    server_name {{ vhost.server_name }};
    client_max_body_size 1m;
    client_body_buffer_size 128k;
    access_log {{ vhost.access_log }};
    error_log {{ vhost.error_log }};
    root {{ vhost.root }};

    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    index index.html index.htm index.php;

    ## Only allow these request methods ##
    if ($request_method !~ ^(GET|HEAD|POST)$ ) {
        return 444;
    }
    ## Do not accept DELETE, SEARCH and other methods ##

    # Pass all .php files onto a php-fpm/php-fcgi server.
    location ~ \.php$ {
        # Important, don't remove for security reasons
        try_files $uri =404;

        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        include fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:{{ vhost.tmp }}/php-fpm-{{ vhost.user }}.sock;
    }

}
{% endfor %}
